@import "tailwindcss";
* {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  /* font-family: "Oswald", sans-serif; */
}
@theme {
  --color-primary: #e17100;
  --color-primary-loading: #e170005b;
  --color-accent: #2C5480;
  --color-sidebar-bg: #0d1117;
  --color-sidebar-level-1: #161b22;
  --color-sidebar-level-2: #1c2128;
  --color-border: #30363d;
  --color-hover-orange: #ff8c00;
  --color-hover-blue: #2C5480;
}
html, body {
  overflow-x: hidden;
}